<%-include("header")-%>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/pending-docs.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <!-- <script src="/routes/dashboard.js" defer></script> causes an error -->
    <script src="/js/pending-docs.js" defer></script> <!--remove /public/-->
    <script src="/js/navbar.js" defer></script> <!--remove /public/-->
    <body>
        <%-include("navbar-component")-%>
            <div class="main-cont">
                <div class="pendingDocs-list">
                    <div class="table-title">
                        Pending Documents
                        <div class="sortInput">
                        <label for="sortBy">Sort by:</label>
                        <select name="sortBy" id="sortBy" class="sortBy" onchange="location = `<%=page%>?sort=${this.value}`;">
                            <option value="" selected hidden disabled>Choose one...</option>
                            <option value="title" class="opt">Title</option>
                            <option value="date" class="opt">Date</option>
                            <option value="size" class="opt">Size</option>
                            <option value="type" class="opt">File Type</option>
                            <option value="author" class="opt">Author</option>
                        </select>
                    </div>
                    </div>
                    <table class="pendingDocs-table">
                        <tr class="toApprove">
                            <td colspan="9">Documents awaiting your approval</td>
                        </tr>
                        <tr class="table-headers">
                            <th>Filetype</th>
                            <th>Title</th>
                            <th>Date Uploaded</th>
                            <th>Author</th>
                            <th>Tags</th>
                            <th>File Size</th>
                            <th>Department</th>
                        </tr>
                        <%var perPage = 10 %>
                        <%if(perPage > doc3.docs.length){%>
                        <%perPage = doc3.docs.length%>
                        <%}%>
                        <%let start = (page-1) * perPage %>
                        <%let end = start + (perPage-1) %>
                        <%if(page == Math.ceil(doc3.docs.length/perPage) && page !== 1){%>
                        <%end = doc3.docs.length-1%>
                        <%}%>
                        <%for(let i=start;i<=end;i++){%>
                        <tr class="data">
                            <td><%=doc3.docs[i].type.slice(1).toUpperCase()%></td>
                            <td class="docname" onmouseenter="setTitle('<%=doc3.docs[i].name%>')"><%=doc3.docs[i].name.length < 40 ? doc3.docs[i].name:doc3.docs[i].name.substring(0,40)+"..."%></td>
                            <td>
                               <%=doc3.docs[i].state_history.pop().toString().split(" ").slice(2).toString().replace(","," ")%>
                            </td>
                            <td><%=doc3.docs[i].creator%></td>
                            <td><%=doc3.docs[i].tags_history.slice(-1).toString().split('|')[1]%></td>
                            <td><%=doc3.docs[i].size%></td>
                            <td>department</td> <!--  departments (to be added in DB structure)-->
                            <td><button class="accept <%=doc3.docs[i]._id%>" name="accept">Accept</button>
                                <button class="reject <%=doc3.docs[i]._id%>" name="reject">Reject</button> </td>
                        </tr>
                        <%}%>
                    </table>
                    <div class="pages">
                        <%for(let i=1;i <= Math.ceil(doc3.docs.length/perPage);i++){%>
                        <a href="<%=i%>?sort=<%=sort%>"><button class="pagesButton"><%=i%></button></a>
                        <%}%>
                    </div>
            </div>

            </div>

    </body>