<%-include("header")-%>

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/accepted-docs.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <script src="/js/navbar.js" defer></script>
    </head>

    <body>
        <%-include("navbar-component")-%>
            <div class="acceptedDocs-list">
                <div class="table-title">
                    Rejected Documents
                    <div class="sortInput">
                        <label for="sortBy">Sort by:</label>
                        <select name="sortBy" id="sortBy" class="sortBy" onchange="location = `<%=page%>?sort=${this.value}`;">
                            <option value="" selected hidden disabled>Choose one...</option>
                            <option value="title" class="opt">Title</option>
                            <option value="date" class="opt">Date</option>
                            <option value="size" class="opt">Size</option>
                            <option value="type" class="opt">File Type</option>
                            <option value="author" class="opt">Author</option>
                        </select>
                    </div>
                </div>
                <table class="acceptedDocs-table">
                    <tr class="table-headers">
                        <th>
                            Filetype
                        </th>
                        <th>
                            Title
                        </th>
                        <th>
                            Date Rejected
                        </th>
                        <th>
                            Author
                        </th>
                        <th>
                            Rejected By
                        </th>
                        <th>
                            Tags
                        </th>
                    </tr>
                    <%var perPage = 10 %>
                    <%if(perPage > doc2.docs.length){%>
                    <%perPage = doc2.docs.length%>
                    <%}%>
                    <%let start = (page-1) * perPage %>
                    <%let end = start + (perPage-1) %>
                    <%if(page === Math.ceil(doc2.docs.length/perPage) && page !== 1){%>
                    <%end = doc2.docs.length-1%>
                    <%}%>
                    <%for(let i=start;i<=end;i++){%>
                        <tr class="data">
                            <td><%=doc2.docs[i].type.slice(1).toUpperCase()%></td>
                            <td class="docname" onmouseenter="setTitle('<%=doc2.docs[i].name%>')"><%=doc2.docs[i].name.length < 40 ? doc2.docs[i].name:doc2.docs[i].name.substring(0,40)+"..."%></td>
                            <td>
                                <%for(let j=0;j<doc2.docs[i].state_history.length;j++){%>
                                    <%if(doc2.docs[i].state_history[j].split(" ")[0]==="Rejected"){%>
                                        <%=doc2.docs[i].state_history[j].split(" ").slice(2).toString().replace(","," ")%>
                                    <%}%>
                                <%}%>
                            </td>
                            <td><%=doc2.docs[i].creator%></td>
                            <td>Abacan</td>
                            <td><%=doc2.docs[i].tags_history.slice(-1).toString().split('|')[1]%></td>
                    </tr>
                    <%}%>
                </table>
            </div>
            <div class="pages">
                <%for(let i=1;i <= Math.ceil(doc2.docs.length/perPage);i++){%>
                    <a href="<%=i%>"><button class="pagesButton"><%=i%></button></a>
                <%}%>
            </div>
            </div>
<script>
var title;
function setTitle(name){
    title = name
}

var tooltip = document.createElement("span")
tooltip.classList.add("tooltip")
tooltip.style.position = "absolute"
tooltip.style.padding = "5px"
tooltip.style.color = "#aaa"
const docname = document.querySelectorAll('.docname')
document.body.appendChild(tooltip)
var timeout;
docname.forEach(e=>{
    e.addEventListener("mouseenter",()=>{
        timeout = setTimeout(()=>{
            tooltip.style.top = window.scrollY + e.getBoundingClientRect().top + (e.offsetHeight/2) + "px";
            tooltip.style.left = window.scrollX + e.getBoundingClientRect().right - (e.offsetWidth/2) + "px";
            tooltip.innerHTML = title;
            tooltip.style.backgroundColor = "#fff"

            setTimeout(()=>{
                tooltip.innerHTML = "";
                tooltip.style.backgroundColor = "transparent"
            },8000)
        },500)
    })
})

docname.forEach(e=>{
    e.addEventListener("mouseleave",()=>{
        clearTimeout(timeout)
        tooltip.innerHTML = "";
        tooltip.style.backgroundColor = "transparent"
    })
})

const query = new URLSearchParams(window.location.search)
const opt = document.querySelectorAll(".opt")
if(query.get("sort")==="title"){
    opt[0].selected = true
}
else if(query.get("sort")==="date"){
    opt[1].selected = true
}
else if(query.get("sort")==="size"){
    opt[2].selected = true
}
else if(query.get("sort")==="type"){
    opt[3].selected = true
}
else if(query.get("sort")==="author"){
    opt[4].selected = true
}
</script>
</body>
