<%- include("header")-%>
  <!DOCTYPE html>
  <html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/view-documents.css">
    <script src="/js/navbar.js" defer></script>
    <script src="/js/view-documents.js" defer ></script>
  </head>

  <body>
    <%- include("navbar-component")-%>

      <div class="main-cont ">
        <div class="docView flex">
          <div class="info-cont">
            <div class="file-title flex">
              <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-file-earmark" viewBox="0 0 16 16" style="margin-right:1.5vw">
                <path d="M14 4.5V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h5.5L14 4.5zm-3 0A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5h-2z"/>
              </svg>
              <input type="text" value="<%=data.docs[0].name%>" class="editable-docName">
              <form action="downloads/<%=data.docs[0].name%>" method="POST">
                <button class="download <%=data.docs[0].name%>">Download File</button>
              </form>
            </div>
            <div class="metadata">
              <div class="metadata-section">
                <table>
                  <tr>
                    <td>File Type:</td>
                    <td><%=data.docs[0].type.slice(1).toUpperCase()%></td>
                  </tr>
                  <tr>
                    <td>File Size:</td>
                    <td><%=data.docs[0].size%></td>
                  </tr>
                  <tr>
                    <td>File Version:</td>
                    <td><%=data.docs[0].version_num%></td>
                  </tr>
                </table>
              </div>
              <div class="metadata-section">
                <table>
                  <tr>
                    <td>Last Modified By:</td>
                    <td><%=data.docs[0].creator%></td>
                  </tr>
                  <tr>
                    <td>Last modified on:</td>
                    <td><%=data.docs[0].state_history[data.docs[0].state_history.length-1].slice(8)%></td>
                  </tr>
                    <td>Created On:</td>
                    <td><%=data.docs[0].state_history[0].slice(8)%></td>
                  </tr>
                </table>
              </div>
              <div class="metadata-section">
                <table>
                  <tr>
                    <td>Last Activity:</td>
                    <td>Downloaded</td>
                  </tr>
                  <tr>
                    <td>Tags:</td>
                    <td><%=data.docs[0].tags_history[data.docs[0].tags_history.length-1].split("|")[1]%></td>
                  </tr>
                  <tr>
                    <td>Page Count:</td>
                    <td>2</td>
                  </tr>
                  <tr>
                    <td>Status:</td>
                    <td>Accepted</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
          <div class="file-cont">
            <span class=" auditEvents">Version History <button class="revert" disabled>Revert Version</button></span>
            <div class="versionHist-table-cont ">
              <table class="versionHist">
                <tr class="table-header">
                  <th>Modified By </th>
                  <th>File version</th>
                  <th>Timestamp</th>
                  <% //var timestamp = ver.state_history.split(',')
                  for(var i = 0; i<timestamp.length; i++){%>
                </tr>
                <tr class="data">
                  <td><%=ver.creator%></td>
                  <td><%=ver.version_num%></td>
                  <td><%=timestamp[i]%></td>
                </tr>
                <%}%>
              </table>
            </div>

          </div>
        </div>
      </div>
      <form action="delete/<%=data.docs[0]._id%>" method="POST">
        <button class="deleteFile">Delete File</button>
      </form>
    </body>
  </html>